body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

body .main h1 span{
  color: midnightblue;
}

.tile-image{
  height: 200px;
  float: left;
  margin-right: 50px;
}

.left{
float: left;
}

.right{
float: right;
}

.card{
  width:45%;
}

@media (max-width: 680px){
  .card{
    width:100%;
    margin-bottom: 30px;
    display: block;
    text-align: justify;
  }
  .tile-image{
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .logo{
    width: 100px;
  }
}